node_modules
dist
coverage

.git
.gitignore

.env
.env.local
.env.development
.env.production
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

README.md
.vscode
.idea
*.log